* {
    margin: 0;
    padding: 0;
    user-select: none;
}

navbar {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #231F20;
}

#logoText {
    width: 312px;
    height: 130px;
    font-family: 'Karantina';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 130px;
    letter-spacing: 0.135em;
    color: #231F20;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#logoImage {
    display: none;
}

.navBtn {
    text-decoration: none;
    border: none;
    background: none;
    color: white;
    font-family: 'Calibri', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.btnContainer {
    font-family: 'Calibri', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.foreground {
    z-index: 2;
    top: 350px;
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 1500px;
}