* {
    margin: 0;
    padding: 0;
    user-select: none;
}

navbar {
    display: flex;
    justify-content: center
}

.main {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: #231F20;
}

#logoText {
    position: absolute;
    width: 312px;
    height: 130px;
    top: 110px;
    font-family: 'Karantina';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 130px;
    letter-spacing: 0.135em;
    color: #231F20;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#logoImage {
    pointer-events: none;
    position: absolute;
    width: 270px;
    height: 270px;
    left: 113px;
    top: 85px;
}

.navBtn {
    text-decoration: none;
    border: none;
    background: none;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.btnContainer {
    position: absolute;
    top: 248px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: white;
}